/** HEADER **/
#header-nav {
  background-color: #000;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 { /* Restaurant name */
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
}

#nav-list a {
  color: #951C49;
  font-size: 1.5em;
}

#nav-list a:hover {
  background: #E7E7E7;
}

body { 
  font-family: 'Pangolin', cursive;	
  background-color: #D3D3D3;
}

#our-menu > h1 {
	font-size: 4em;

}

.col-md-12.col-sm-12.col-xs-12 {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 10px 40px 0;
}

section {
	background-color: #557c3e;
}

section > div {
	font-size: 3em;
	text-align: center;
	padding-top: 10px;
}

p{
	font-size: 2em;
	padding: 0 15px 15px 15px;
}
